{
  "extends": [
    "plugin:@wordpress/eslint-plugin/recommended"
  ],
  "rules": {
    "semi": [
      "error",
      "never"
    ],
    "prettier/prettier": 0,
    "import/no-extraneous-dependencies": 0
  }
}